<div class="giscus">

    <script>
        function getGiscusTheme() {
            let theme;

            if (window.matchMedia && (localStorage.getItem("theme") === null)) {
                // Check if the dark-mode Media-Query matches
                console.log("inside 1");
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    theme = "dark_dimmed";
                } else {
                    theme = "light";
                }
            } else {
                theme = localStorage.getItem("theme");
            }
            return theme === "dark_dimmed" ? "dark_dimmed" : "light";
        }

        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            //alert("asdasd");
        }

        function setGiscusTheme() {
            function sendMessage(message) {
                const iframe = document.querySelector('iframe.giscus-frame');
                if (!iframe) return;
                iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
            }
            sendMessage({
                setConfig: {
                    theme: getGiscusTheme() == "dark_dimmed" ? "light" : "dark_dimmed",
                },
            });



        }

        const attrs = {
            "src": "https://giscus.app/client.js",
            "data-repo": "mightyjens/mightyjens.github.io",
            "data-repo-id": "R_kgDOL4sLyw",
            "data-category": "General",
            "data-category-id": "DIC_kwDOL4sLy84CfOcb",
            "data-mapping": "pathname",
            "data-strict": "0",
            "data-reactions-enabled": "0",
            "data-emit-metadata": "0",
            "data-input-position": "bottom",
            "data-theme": "https://www.bytehero.io/css/dark_dimmed_bytehero.css",
            "data-lang": "en",
            "crossorigin": "anonymous",
            "async": "1"
        };

        const giscusScript = document.createElement("script");
        Object.entries(attrs).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.body.appendChild(giscusScript);

        const toggle = document.querySelector('#theme-toggle');
        if (toggle) {
            toggle.addEventListener('click', setGiscusTheme);
        }
    </script>

    <noscript>Please enable JavaScript to view the comments</noscript>
</div>